-e .
click==7.1.2
Flask==1.1.1
celery==4.3.0
redis==3.3.11
flower==0.9.4
kombu==4.6.3
wheel==0.36.2
Flask-SQLAlchemy==2.4.3
Flask-Bootstrap==3.3.7.1
flask-nav==0.6
blinker==1.4
json2html==1.3.0
requests==2.24.0
Flask-WTF==0.14.3
flask-restx==0.2.0
readline==6.2.4.1
responses==0.16
loguru==0.5.3
SQLAlchemy==1.3.23
ocrd-page-to-alto @ https://github.com/kba/page-to-alto/archive/refs/heads/master.zip
