{% extends "base.html" %}

{% block content %}
<div class="container 404">
    <div class="jumbotron p-5 rounded-lg m-3">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4">Madame/Sir, I am very sorry, ...</h1>
                <hr class="my-4">
                <p>... but I can't find what you are looking for.</p>
                <p><a href="{{ url_for('frontend_blueprint.index') }}">Perhaps you would like to try again?</a></p>
            </div>
            <div class="col-md-4">
                <img width="100%%" src="{{url_for('static', filename='not-found.jpg')}}" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
