{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="container">
            <div class="col-md-9">
                <h1>Madam/Sir, nobody expected this error!</h1>
            </div>
            <div class="col-md-3">
                <img width="100%%" src="{{url_for('static', filename='butler_error.jpeg')}}" />
            </div>
        </div>

        {% if error %}
            <div class="jumbotron">
                {{ error }}
                <br /><br />
                {{ exception }}
                <br /><br />
                {{ traceback }}
            </div>
        {% endif %}
    </div>
{% endblock %}
