{% extends "base.html" %}

{% block app_content %}
   <div class="container chains">

        <div class="jumbotron">
            <div class="container">
                <div class="col-md-10">
                    <h1>Chains</h1>
                    <p>Madam/Sir, here you find the current available chains.</p>
                </div>
                <div class="col-md-2">
                    <img width="100%%" src="{{url_for('static', filename='butler_chains.png')}}" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            {# {{ chains }} #}
            {% for chain in chains %}
                <h3>{{ chain.name }} (<a title="Delete chain." href="/chain/delete/{{ chain.id }}">x</a>)</h3>
                <p>
                    <h4>Description</h4>
                    {{ chain.description }}

                    <h4>Processors</h4>
                    {% for processor in chain.processors %}
                        {{ processor }}
                        <br />
                    {% endfor %}
                </p>
            {% endfor %}

        </div>
    </div>
{% endblock %}
