<footer class="page-footer font-small pt-4">
  <div class="container-fluid text-md-left">

    <div class="row">

        <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase"></h5>
        <p></p>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://code.dev.sbb.berlin/zidsuz/ocrd-butler" target="_blank">Gitlab</a>
          </li>
          <li>
            <a href="https://ocr-d.github.io" target="_blank">OCR-D</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-who text-center">
    <a href="https://code.dev.sbb.berlin/" target="_blank">2020 SBB</a>
  </div>

</footer>
