<footer class="page-footer font-small pt-4">
  <div class="container-fluid text-md-left">

    <div class="row">
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h6 class="text-uppercase">Helpful links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="https://code.dev.sbb.berlin/zidsuz/ocrd-butler" target="_blank">OCR-D butler @Gitlab</a>
          </li>
          <li>
            <a href="https://ocr-d.github.io" target="_blank">OCR-D</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-who text-center">
    <a href="https://code.dev.sbb.berlin/" target="_blank">&copy; 2020 Staatsbibliothek zu Berlin - Stiftung Preußischer Kulturbesitz</a>
  </div>

</footer>
