{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript">
        //<![CDATA[
        document.querySelector(".processor").addEventListener('click', (evt) => {
            const processorName = evt.currentTarget.attributes.id.nodeValue;
            const processorTable = document.querySelector(`.table-${processorName}`);
            const collapseTable = new bootstrap.Collapse(processorTable)
            collapseTable.toggle();
        });
        //]]>
    </script>
{% endblock scripts %}

{% block app_content %}
    <div class="container processors">

        <div class="jumbotron p-5 rounded-lg m-3">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="display-4">Processors</h1>
                    <hr class="my-4">
                    <p>Madam/Sir, the following processors are currently implemented.
                        <br/>You can expand every one to get more information.</p>
                </div>
                <div class="col-md-3">
                    <img width="100%%" src="{{url_for('static', filename='butler_processors.png')}}" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            {% for processor in processors %}
                <h2 id="{{ processor.name }}" class="processor">{{ processor.name }} <a name="table-{{ processor.name }}" style="cursor:nesw-resize;">
                    +
                    </a>
                    <span>
                        <br />
                        {{ processor.description }}
                        <a href="https://github.com/OCR-D/{{ processor.name[:processor.name.find('-', 5)].replace('-', '_') }}" target="_blank">
                            ~
                        </a>
                    </span>
                </h2>
                <table class="table-{{ processor.name }} table collapse">
                    {% for key, value in processor.items() %}
                    <tr>
                        <td>{{ key.capitalize() }}</td>
                        <td>
                            {% if type(value) == list %}
                                {{ ", ".join(value) }}
                            {% elif type(value) == dict %}
                                {{ json2html.convert(value) | safe }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}
