{% extends "base.html" %}

{% block content %}
   <div class="container">
        <div class="jumbotron">
            <h1>Processors</h1>
            <p>The current implemented processors</p>
        </div>
        <div class="col-md-2">
            <img width="100%%" src="{{url_for('static', filename='butler_processors.png')}}" />
        </div>
        <div class="col-md-10">
            {# {{ processors|tojson }} #}
            {% for processor in processors %}
                <h3>{{ processor.name }}</h3>
                <p>
                    {% for key, value in processor.items() %}
                        {{ key.capitalize() }}:

                        {% if type(value) == list %}
                            {{ ", ".join(value) }}
                        {% elif type(value) == dict %}
                            {{ json2html.convert(value) | safe }}
                        {% else %}
                            {{ value }}
                        {% endif %}

                        <br />
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
