{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='butler.js')}}"></script>
{% endblock scripts %}

{% block app_content %}
   <div class="container">
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-10">
                    <h1>Tasks</h1>
                    <p>Madam/Sir, please find the currently available tasks here.</p>
                </div>
                <div class="col-md-2">
                    <img width="100%%" src="{{url_for('static', filename='butler_tasks.png')}}" />
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <button id="new-task" type="button" class="btn">Add a new task</button>
        </div>

        <div class="col-md-10">

            <div class="new-task-form">
                <form action="/new-task" method="post">
                  <div class="form-group">
                    {{ form.task_id.label }}
                    <br />
                    {{ form.task_id() }}
                    <br />
                    <br />
                    {{ form.src.label }}
                    <br />
                    {{ form.src() }}
                    <br />
                    <br />
                    {{ form.input_file_grp.label }}
                    <br />
                    {{ form.input_file_grp() }}
                    <br />
                    <br />
                    {{ form.chain_id.label }}
                    <br />
                    {{ form.chain_id() }}
                    <br />
                    <br />
                    {{ form.parameter.label }}
                    <br />
                    {{ form.parameter() }}
                    <br />
                    <br />
                    {{ form.submit() }}
                  </div>
                </form>
            </div>

            <form method="POST" url=".">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Source (METS)</th>
                    <th>Input file group</th>
                    <th>Chain</th>
                    <th>Parameters</th>
                    <th>Worker (Status)</th>
                    <th>Times</th>
                    <th>Results</th>
                    <th>Delete</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}
                        <!--<input type="checkbox" name="id" value="{{ task.id }}" />-->
                    </td>
                    <td><a href="{{ task.src }}">XML</a></td>
                    <td>{{ task.default_file_grp }}</td>
                    <td>{{ task.chain }}</td>
                    <td>{{ task.parameters }}</td>
                    <td><a href="{{ task.flower_url }}"
                           target="_blank">{{ task.worker_task_id }}</a>
                        {% if task.result and task.result.status %}
                            ({{ task.result.status }})
                        {% endif %}
                    </td>
                    <td>
                        {% if task.result %}
                            {% if task.result.started %}
                                Started: {{ task.result.started | format_date }}
                            {% endif %}
                            {% if task.result.succeeded %}
                                <br />
                                Succeeded: {{ task.result.succeeded | format_date }}
                            {% endif %}
                            {% if task.result.runtime %}
                                <br />
                                Runtime: {{ task.result.runtime | format_delta }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if task.result.succeeded %}
                            <a href="{{ task.result.page }}">PAGE</a>
                            <br />
                            <a href="{{ task.result.alto }}">ALTO</a>
                            <br />
                            <a href="{{ task.result.txt }}">TXT</a>
                        {% endif %}
                    </td>
                    <td><a class="delete-task" href="/task/delete/{{ task.id }}">x</a></td>
                </tr>
                {% endfor %}
            </table>
            <!--<button type="submit">do dinglehopping</button>-->
            </form>
        </div>

    </div>


{% endblock %}
