{% extends "base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('static', filename='multi-select.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='jquery.multi-select.js')}}"></script>
    <script src="{{url_for('static', filename='butler.js')}}"></script>
{% endblock scripts %}


{% block app_content %}
   <div class="container workflows">

        <div class="jumbotron">
            <div class="container">
                <div class="col-md-10">
                    <h1>Workflows</h1>
                    <p>Madam/Sir, please find the currently available workflows here.</p>
                </div>
                <div class="col-md-2">
                    <img width="100%%" src="{{url_for('static', filename='butler_workflows.png')}}" />
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <!-- <button id="new-workflow" type="button" class="btn">Add a new workflow</button> -->
            To add a new workflow, please use the <a href="/api" target="_blank">api</a>.
        </div>

        <div class="col-md-10">

            <div class="new-workflow-form">
                <form action="/new-workflow" method="post">
                  <div class="form-group">
                    {{ form.name.label }}
                    <br />
                    {{ form.name() }}
                    <br />
                    <br />
                    {{ form.description.label }}
                    <br />
                    {{ form.description() }}
                    <br />
                    <br />
                    {{ form.processors.label }}
                    <br />
                    {{ form.processors() }}
                    <br />
                    <br />
                    {{ form.submit() }}
                  </div>
                </form>
            </div>


            {% for workflow in workflows %}
                <h3>{{ workflow.name }} (<a title="Delete workflow." href="/workflow/delete/{{ workflow.id }}">x</a>)</h3>
                <p>
                    <h4>Description</h4>
                    {{ workflow.description }}

                    <h4>Processors</h4>
                    {% for processor in workflow.processors %}
                        {{ processor }}
                        <br />
                    {% endfor %}
                    <h4>Parameters</h4>
                    {{ workflow.parameters|safe }}
                </p>
            {% endfor %}

        </div>

    </div>
{% endblock %}
