{% extends "base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('static', filename='multi-select.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='jquery.multi-select.js')}}"></script>
    <script type="text/javascript">
        //<![CDATA[
        // document.querySelector("#new-workflow").addEventListener('click', () => {
        //     const newWorkflowForm = document.getElementById('new-workflow-form');
        //     const collapseForm = new bootstrap.Collapse(newWorkflowForm)
        //     collapseForm.toggle();
        // });

        // let cp_select = document.querySelector('.container.workflows #processors');
        // if (cp_select.length > 0) {
        //     cp_select.multiSelect({
        //         "keepOrder": true
        //     });
        // }
        //]]>
    </script>
{% endblock scripts %}

{% block app_content %}
    <div class="container workflows">

        <div class="jumbotron p-5 rounded-lg m-3">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="display-4">Workflows</h1>
                    <hr class="my-4">
                    <p>Madam/Sir, please find the currently available workflows here.</p>
                </div>
                <div class="col-md-3">
                    <img width="100%%" src="{{url_for('static', filename='butler_workflows.png')}}" />
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <!-- <button id="new-workflow" type="button" class="btn">Add a new workflow</button> -->
            To add a new workflow, please use the <a href="/api" target="_blank">api</a>.
        </div>

        <div class="col-md-10">

            <div class="new-workflow-form">
                <form action="/new-workflow" method="post">
                  <div class="form-group">
                    {{ form.name.label }}
                    <br />
                    {{ form.name() }}
                    <br />
                    <br />
                    {{ form.description.label }}
                    <br />
                    {{ form.description() }}
                    <br />
                    <br />
                    {{ form.processors.label }}
                    <br />
                    {{ form.processors() }}
                    <br />
                    <br />
                    {{ form.submit() }}
                  </div>
                </form>
            </div>


            {% for workflow in workflows %}
                <h3 id="workflow-{{ workflow.id }}">{{ workflow.name }}</h3>
                <p>
                    <h4>ID: {{ workflow.id }}</h4>

                    <h4>Description</h4>
                    {{ workflow.description }}
                    <br />

                    <h4>Processors</h4>
                    <table>
                        <tr>
                            <th>Name:</th>
                            <th>Parameters:</th>
                        </tr>
                        {% for processor in workflow.processors %}
                        <tr>
                            <td>
                                <a href="/processors#processor-{{ processor.name }}">
                                    {{ processor.name }}
                                </a>
                            </td>
                            <td>
                                {{ json2html.convert(processor.get('parameters', {})) | safe }}
                            </td>
                        <tr/>
                    {% endfor %}
                    </table>
                    (<a title="Delete workflow." href="/workflow/delete/{{ workflow.id }}">^^ Workflow {{ workflow.name }} löschen.</a>)
                </p>
            {% endfor %}

        </div>

    </div>
{% endblock %}
